*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // defines absolute value of 1rem
}

body {
  box-sizing: border-box;
  // position: relative;
}
