@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// TYPOGRAPHY
@mixin gradient-text {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin input-border-bottom($color) {
  border-bottom: 0.3rem solid $color;
}
